:root {
  --w: #ffffff;
  --c1: #f7f7f7;
  --c2: #a4a4a4;
  --c3: #7c7c7c;
  --c4: #222222;
  --blue1: #66d9eb;
  --blue2: #2c70ff;
  --blue3: #122ab2;
  --purple: #ae81ff;
  --pink: #f9265e;
}
