.menu__bg {
  background-color: var(--blue2);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 0;
}

.menu a {
  color: var(--w);
}

.menu__logo a {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 10px;
}

.menu__navbar ul {
  display: flex;
  flex-wrap: wrap;
}

.menu__navbar a {
  display: block;
  padding: 10px;
  font-size: 1.25rem;
  transition: color 0.3s;
}

.menu__navbar a:hover {
  color: var(--blue3);
}
