.superinfo__bg {
  background-color: var(--blue3);
  color: var(--w);
}

.superinfo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.superinfo p,
.superinfo a {
  margin: 10px;
}

.superinfo a {
  color: var(--w);
}
